body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

p{
    font-size: 20px;
    color: #333;
    max-width: 300px;
    line-height: 1.5;
    

}


.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-link {
    padding: 1rem;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.title {
    font-size: 40px;
    font-weight: 700;

}

.container__p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jokeAPI-background {
    background-color: rgba(218, 248, 255, 255);
}


.container   {
    background-color: 	#fffdd0;
    padding: 4rem 10rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.button {
    background-color: rgba(66, 133, 244, 255);
    color: white;
    padding: 15px 25px 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 50px;
    border-radius: 10px;
    text-decoration: none;
}

.btn {
    background-color: rgba(66, 133, 244, 255);
    background-color: rgba(218, 248, 255, 255);
    box-shadow: ;
    padding: 15px 25px 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
